.lfgs-container {
  margin-top: 20px;
}

.lfg-item {
  margin-top: 15px;
}

.meta-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .ant-card-meta {
    display: flex;
    align-items: center;
    margin: 10px !important;

    .ant-card-meta-title {
      margin-bottom: 0px !important;
    }

    .ant-card-meta-avatar {
      display: flex;
    }
  }

  .ant-tag {
    margin-top: 10px !important;
  }
}

.top-meta {
  display: flex;
  justify-content: space-between;

  .ant-card-meta {
    display: flex;
    align-items: center;
    margin: 10px !important;

    .ant-card-meta-title {
      margin-bottom: 0px !important;
    }

    .ant-card-meta-avatar {
      display: flex;
    }
  }
}

.svg-inline--fa {
  font-size: 20px;
}

.lfg-tags {
  display: flex;
  flex-wrap: wrap;
}
