.lfgs-container {
  margin-top: 20px;
}

.lfg-item {
  margin-top: 15px;
}

.meta-list {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ant-card-meta {
  display: flex;
  align-items: center;
  margin: 10px !important;
}

.ant-card-meta-title {
  margin-bottom: 0px !important;
}

.svg-inline--fa {
  font-size: 20px;
}

.ant-card-meta-avatar {
  display: flex;
}

.lfg-tags {
  display: flex;
  flex-wrap: wrap;
}

.ant-tag {
  margin-top: 10px !important;
}
