.lfg-room-users-container {
  flex: 0.3;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-top: 9px;
  .ant-card-meta {
    display: flex;
    align-items: center;
    margin: 10px !important;

    .ant-card-meta-title {
      margin-bottom: 0px !important;
    }

    .ant-card-meta-avatar {
      display: flex;
      padding-right: 10px;
    }
  }
}
.lfg-room-users {
  width: 100%;
  padding-top: 15px;
}

.lfg-room-card {
  .ant-card-head {
    padding: 0 12px;
  }
  .ant-card-head-title {
    padding: 0px;
  }
  .ant-card-body {
    padding: 6px;
  }
  .lfg-room-actions {
    margin: 10px;
  }
  .lfg-room-card-content {
    display: flex;

    .lfg-room-chat {
      padding-top: 20px;
      flex: 0.7;
      display: flex;
      flex-direction: column;
    }
  }
}

.comment-as {
  display: flex;
  .ant-avatar-sm {
    width: 20px;
    height: 20px;
    margin-left: 3px;
  }
}

.lfg-room-user-row {
  display: flex;
  justify-content: space-between;
}
